
body{
background-image: url(v617batch2-bb-01-technology.jpg);

}

.banner{
  padding-top: 50px;
}

.banner--content{

 width: 95%;
 margin-inline: auto;
 padding-block: 10px;
 display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
overflow: hidden;

}




@media (min-width:1300px){
  .banner--bitfort{
   
  
    width: 850px;
  }
}


@media (min-width:1300px){
  .banner--animation{
    flex-direction: row;
    padding-right: 150px;
    padding-bottom: 200px;
    padding-top: 100px;
  }
}

@media (min-width:1300px){
  .btn--descargar{
    flex-direction: row;
    padding-right: 10px;
    
  }
}

@media (min-width:1300px){
  .banner--content{
    flex-direction: row;
  }
}

.banner--info{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

@media(min-width:800px){
  .banner--info{
    width: 45%;
    text-align: center;
  }
}

.banner--info h1{
 color: aliceblue;
 font-weight: 900;
 font-size: 35px;
}

.banner--animation{
  position: relative;

}
.banner--bitfort{
 
  filter: drop-shadow(0 1mm 3mm rgb(36, 138, 138));
}


#cards{
   
  filter: drop-shadow(0 1mm 3mm rgb(36, 138, 138));
}



@media(min-width:500px){
  .banner--bitfort{
   
    align-items: center;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 800px;
  }
}

@media(min-width:500px){
  .banner--info{
    width: 45%;
    padding-top: 100px;
    text-align: center;
   
  }
}

#logonav{

    max-height: 60px;
}
#navbarNav
 {
   background-color: #193666;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
 }
 #card-image{
   
    max-width: 80%;
    padding-left: 5px;
     margin-left: 30px;
 }

.container
{
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.container-text-center{
  padding-top: 70px;
  padding-left: 70px;
}

#cards{
  max-width: 95%;
 
}

.description{
  margin-top: 30px;
}

#text{
  padding-left: 90px;
  padding-right: 90px;
}

#text{
  color: aliceblue;
}
#nav{
  color: aliceblue;
}

#logofooter{
  max-width: 210px;
text-align: center;
}
#contacto{
  margin-left: 80px;
}
#sobrenosotros
{
  margin-left: 80px;
}

.btn--descargar {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}
