
body{
background-image: url(v617batch2-bb-01-technology.jpg);

}

.banner{
  padding-top: 50px;
}

.banner--content{

 width: 95%;
 margin-inline: auto;
 padding-block: 10px;
 display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
overflow: hidden;

}




@media (min-width:1300px){
  .banner--bitfort{
   
  
    width: 850px;
  }
}


@media (min-width:1300px){
  .banner--animation{
    flex-direction: row;
    padding-right: 250px;
    padding-bottom: 200px;
    padding-top: 100px;
  }
}

@media (min-width:1300px){
  .btn--descargar{
    flex-direction: row;
    padding-right: 10px;
    
  }
}

@media (min-width:1300px){
  .banner--content{
    flex-direction: row;
  }
}

.banner--info{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

@media(min-width:800px){
  .banner--info{
    width: 45%;
    text-align: center;
  }
}

.banner--info h1{
 color: aliceblue;
 font-weight: 900;
 font-size: 35px;
}

.banner--animation{
  position: relative;

}
.banner--bitfort{
  width: 350px;
  filter: drop-shadow(0 1mm 3mm rgb(34, 47, 102));
}






@media(min-width:500px){
  .banner--bitfort{
   
    align-items: center;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 800px;
  }
}

@media(min-width:500px){
  .banner--info{
    width: 45%;
    padding-top: 100px;
    text-align: center;
   
  }
}

#logonav{

    max-height: 60px;
}
#navbarNav
 {
   background-color: #193666;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
 }
 #card-image{
   
    max-width: 80%;
    padding-left: 5px;
     margin-left: 30px;
 }

.container
{
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.container-text-center{
  padding-top: 70px;
  padding-left: 70px;
}

#cards{
  max-width: 95%;
 
}

.description{
  margin-top: 30px;
}

#text{
  padding-left: 90px;
  padding-right: 90px;
}

#text{
  color: aliceblue;
}
#nav{
  color: aliceblue;
}