#logonav{

    max-height: 60px;
}
#navbarNav
 {
   background-color: #193666;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
 }
 #card-image{
   
    max-width: 80%;
    padding-left: 5px;
     margin-left: 30px;
 }

.container
{
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.container-text-center{
  padding-top: 70px;
  padding-left: 70px;
}

#banner{
  max-width: 30%;
  float: inline-end;
  
}
#bannerRow{
  
  max-width: 90%;
}

#cards{
  max-width: 95%;
 
}

.description{
  margin-top: 30px;
}

#text{
  padding-left: 90px;
  padding-right: 90px;
}
.container-text-center{
  background-color: rgb(94, 222, 226);
  
}