



#nav{
  color: aliceblue;
}
#logonav{

    max-height: 60px;
}
#navbarNav
 {
   background-color: #193666;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
 }
 #text{
  color: aliceblue;
}


h1 {
  margin-bottom: 20px;
}

/* Filtros */
.filtros {
  margin-bottom: 25px;
}

.filtros input,
.filtros select {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#btn-filtrar {
  padding: 10px 18px;
  background-color: #1f52a3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#btn-filtrar:hover {
  background-color: #184488;
}

/* Tabla */
.tabla-container {
  display: flex;
  justify-content: center;
}

table {
  width: 90%;
  max-width: 1000px;
  background-color: white;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

thead {
  background-color: #cfe0ff;
}

th, td {
  text-align: left;
  padding: 12px 18px;
  border-bottom: 1px solid #ddd;
}

tr:last-child td {
  border-bottom: none;
}

tr:hover {
  background-color: #f5f7ff;
}




.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.footer-left p {
  margin: 0;
  font-size: 0.9rem;
  color: #aaa;               
}

.footer-left h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #00bcd4;}

.footer-links a {
  color: #eee;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  color: #00bcd4;
}

.footer-socials a img {
  width: 24px;
  margin: 0 8px;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}

.footer-socials a img:hover {
  filter: invert(65%) sepia(88%) saturate(327%) hue-rotate(150deg);
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;      
    text-align: center;           
  }

  .footer-links {
    margin: 1rem 0;
  }

  .footer-links a {
    display: inline-block;        
    margin: 0.5rem;
  }

  .footer-socials a img {
    width: 28px;                 
  }
}


@media (max-width: 480px) {
  .footer {
    padding: 1.5rem 0.5rem;       
  }

  .footer-left h3 {
    font-size: 1.3rem;           
  }

  .footer-links a {
    font-size: 0.9rem;            
  }
}


.footer-left {
  display: flex;
  flex-direction: column;     
  gap: 0.5rem;              
}

.footer-brand {
  display: flex;
  align-items: center;       
  gap: 10px;                 
}

.footer-logo {
  width: 40px;           
  height: auto;            
  filter: brightness(0) invert(1); 
}


.footer-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
@media (max-width: 768px) {
  .footer-left {
    align-items: center;      
  }
}

body {
  font-family: Arial, sans-serif;
  background: #f6f8fb;
  color: #333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}

main {
  flex: 1;
  padding: 40px 20px;
  text-align: center;
} 



footer {
  background-color: #000;
  color: white;
  padding: 20px 0;
  text-align: center;
   background-color: #0a0a0a;
  color: #eee;
  padding: 2rem 1rem;
}
